# You can find these values in the /kickstart/kickstart.json file
# or within the Admin UI for FusionAuth

# example: my-website.com
FUSIONAUTH_ISSUER=http://localhost:9011
FUSIONAUTH_CLIENT_ID="c2aeeb1e-65cd-43c5-9326-02dce5e03705"
FUSIONAUTH_CLIENT_SECRET="2HYT86lWSAntc-mvtHLX5XXEpk9ThcqZb4YEh65CLjA-not-for-prod"
# Leave blank if you only have the default tenant
FUSIONAUTH_TENANT_ID=d7d09513-a3f5-401c-9685-34ab6c552453
# example: http://localhost:9011
FUSIONAUTH_URL=http://localhost:9011
# On UNIX systems you can use `openssl rand -hex 32` or
# https://generate-secret.vercel.app/32 to generate a secret.
AUTH_SECRET=66e0a2c58cd68267e5a396011ac21e7c669b45b0057f4432204a8a7ff44a93f7